<a href="https://colab.research.google.com/github/shauryajaggi/KNearestNeighbours/blob/main/KNNiris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import sklearn 
from sklearn.utils import shuffle
from sklearn.neighbors import KNeighborsClassifier
from sklearn import linear_model, preprocessing

In [ ]:
iris = pd.read_csv("Iris.csv")
iris = iris.drop(columns=["Id"])
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
spe = preprocessing.LabelEncoder()
spec = spe.fit_transform(list(iris["Species"]))
print(spec)
sl = spe.fit_transform(list(iris["SepalLengthCm"]))
sw = spe.fit_transform(list(iris["SepalWidthCm"]))
pl = spe.fit_transform(list(iris["PetalLengthCm"]))
pw = spe.fit_transform(list(iris["PetalWidthCm"]))

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [ ]:
predict = "Species"
#X-> features & Y->labels
X = list(zip(sl,sw,pl,pw))
Y = list(spec)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=sklearn.model_selection.train_test_split(X,Y,test_size=0.1)
model = KNeighborsClassifier(n_neighbors=9)
model.fit(x_train,y_train)
accuracy = model.score(x_test, y_test)
print(accuracy)

0.9333333333333333

In [ ]:
prediction = model.predict(x_test)
for i in range(len(prediction)):
  print(prediction[i],x_test[i],y_test[i])

0 (1, 9, 3, 1) 0
0 (3, 10, 5, 1) 0
2 (24, 9, 26, 13) 1
0 (5, 13, 8, 1) 0
2 (14, 4, 26, 16) 2
0 (8, 17, 5, 2) 0
2 (18, 9, 25, 14) 2
2 (20, 12, 36, 21) 2
0 (11, 13, 5, 3) 0
2 (20, 8, 32, 14) 2
0 (7, 14, 6, 5) 0
1 (13, 6, 18, 9) 1
1 (14, 5, 11, 6) 1
0 (5, 9, 4, 2) 0
2 (33, 5, 42, 19) 2

In [ ]:

import pickle
with open("knn_iris.pickle","wb") as f:
  pickle.dump(model,f)
pickle_in=open("knn_iris.pickle","rb")
linear=pickle.load(pickle_in)